<% if(data.result.length) {%>
  <tbody>
  <% for(var i=0;i<data.result.length;i++) {%>
    <tr id='<%= data.result[i]._id %>'>
      <td><%= (data.page-1)*data.pageSize+i+1 %></td>
      <td><img src='/admin/images/<%= data.result[i].default_images %>'/></td>
      <td><%= data.result[i].product_name %></td>
      <td><%= data.result[i].sales_price %></td>
      <td><%= data.result[i].market_price %></td>
      <td><%= data.result[i].small_sort_name %></td>
      <td><%= data.result[i].product_skn %></td>
      <td><%= data.result[i].product_id %></td>
      <td><%= data.result[i].edit_time %></td>
      <td>
        <button class="btn btn-sm change" data-toggle="popover" data-placement="left"
        data-content='<form class="form-horizontal" enctype="multipart/form-data">
    <div class="form-group">
        <img src="" class="startimg"/>
        <div class="fileinput">修改图片</div>
        <img src="" class="showimg"/>
        <input type="file" class="form-control changeinput" placeholder="选择图片" accept="image/png,image/gif,image/jpeg">
    </div>
    <div class="form-group">
        <label for="input1" class="control-label">商品名称：</label>
        <input type="text" class="form-control changeinput" placeholder="商品名称">
    </div>
    <div class="form-group">
        <label for="input1" class="control-label">商品现价：</label>
        <input type="text" class="form-control changeinput" placeholder="商品现价">
    </div>
    <div class="form-group">
        <label for="input1" class="control-label">商品原价：</label>
        <input type="text" class="form-control changeinput" placeholder="商品原价">
    </div>
    <div class="form-group">
        <label for="input1" class="control-label">商品分类：</label>
        <input type="text" class="form-control changeinput" placeholder="商品分类">
    </div>
    <div class="form-group">
        <label for="input1" class="control-label">商品ID：</label>
        <input type="text" class="form-control changeinput" placeholder="商品ID">
    </div>
    <div class="form-group">
        <label for="input1" class="control-label">商品SKN：</label>
        <input type="text" class="form-control changeinput" placeholder="商品SKN">
    </div>
    <button class="btn btn-md btn-danger cancelchange">取消</button>
    <button class="btn btn-md submitchange">提交</button>
  </form>'><span class="glyphicon glyphicon-edit"></span><span> 修改</span></button>
        <button class="btn btn-sm btn-danger remove" data-toggle="modal" data-target="#removeone"><span class="glyphicon glyphicon-trash"></span><span> 删除</span></button>
      </td>
    </tr>
  <% } %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="5" style="text-align:left">
        <p class="textinfo">共<%= data.count %>条数据，每页<%= data.pageSize %>条，共<%= Math.ceil(data.count/data.pageSize) %>页</p>
      </td>
      <td colspan="5" style="text-align:right">
        <nav>
          <ul class="pagination" page="<%= data.page %>" totle="<%= Math.ceil(data.count/data.pageSize) %>">
            <li class="<%= data.page==1?'disabled':'' %>" tip="pre"><a href="javascript:void(0)"><span>&laquo;</span></a></li>
            <% for(var i=0;i<data.count/data.pageSize;i++) {%>
              <li class="<%= i==data.page-1?'active':'' %>" tip="pagenum"><a href="javascript:void(0)"><%= i+1 %></a></li>
            <% } %>
            <li class="<%= data.page==Math.ceil(data.count/data.pageSize)?'disabled':'' %>" tip="next"><a href="javascript:void(0)"><span>&raquo;</span></a></li>
          </ul>
          <select class="form-control topage">
            <% for(var i=0;i<data.count/data.pageSize;i++) {%>
              <option  value="<%= i+1 %>" <%= data.page==i+1?'selected' : '' %>>跳转到第<%= i+1 %>页</option>
            <% } %>
          </select>
          <select class="form-control everypage">
              <option value="5" <%= data.pageSize==5?'selected' : '' %> >每页5条数据</option>
              <option value="4" <%= data.pageSize==4?'selected' : '' %>>每页4条数据</option>
              <option value="3" <%= data.pageSize==3?'selected' : '' %>>每页3条数据</option>
              <option value="2" <%= data.pageSize==2?'selected' : '' %>>每页2条数据</option>
              <option value="1" <%= data.pageSize==1?'selected' : '' %>>每页1条数据</option>
          </select>
        </nav>
      </td>
    </tr>
  </tfoot>
<% }else{ %>
  <tbody>
    <tr><td colspan="10" style="padding-top:50px">暂无数据</td></tr>
  </tbody>
<% } %>
