<div class='good_classify'>
  <div class="page-header">
    <h1 style="font-size:20px">商品分类<small style="white-space:pre">    good_classify</small></h1>
  </div>
  <div class="contain">
	  <div class="details">
  		<table class="table table-bordered">
	      <caption>
	      	<h4 style="color: #000;float: left;" class="back2gender"><%= gender %> >></h4>
	      	<h4 style="color: #000;float: left;" id="back2style"><%= type %></h4>
	        <button id="addprobtn" class="btn btn-primary" style="float: right;">添加</button>
	      </caption>
	      <thead>
	        <tr>
	          <th>序号</th>
	          <th>品类</th>
	          <th>描述</th>
	          <th>示例图片</th>
	          <th>操作</th>
	        </tr>
	      </thead>
	      <tbody id="list-con">
	      	<% for( var i=0; i<prosArr.length; i++) {%>
	      		<tr>
	      			<td><%= i+1%></td>	
	      			<td class="prostyle"><%= prosArr[i].prostyle%></td>
	      			<td><%= prosArr[i].descrption%></td>
	      			<td><img src="<%= prosArr[i].prosimage%>"/></td>
	      			<td>
				        <button class="btn btn-primary updatepro" data-tag="update">修改</button>
				        <button class="btn btn-danger delpro" data-tag="delete">删除</button>
				      </td>
	      		</tr>
	      	<% } %>
	      </tbody>
	    </table>
  	</div>
  </div>
</div>